---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-scan-ahmali3-github-io-v1alpha1-clusterscan
  failurePolicy: Fail
  name: mclusterscan.kb.io
  rules:
  - apiGroups:
    - scan.ahmali3.github.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - clusterscans
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-scan-ahmali3-github-io-v1alpha1-clusterscan
  failurePolicy: Fail
  name: vclusterscan.kb.io
  rules:
  - apiGroups:
    - scan.ahmali3.github.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - clusterscans
  sideEffects: None
